body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-weight: bold;
  font-size: clamp(21px, 3vw, 45px);
  margin-left: 10%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.profile-container:hover{
  background-color: lightgray;
  cursor: pointer;
}
.profile-picture {

}
.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.profile-name {
  font-size: clamp(10px, 1vw, 15px);
}
.sub-header {
  background-color: rgb(0, 119, 255);
  color: white;
  margin: 0;
  padding-top: 1.2vw;
  padding-left: 5vw;
  height: 5vw;
  align-items: center;
}
.subheader-title {
  font-size: clamp(21px, 3vw, 45px);
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Category Links Styles */
.category-links {
  list-style-type: none;
  padding: 0;
}
.category-links:hover {
  cursor: pointer;
}

.category-links li {
  margin-bottom: 10px;
}

.category-links li a {
  display: block;
  padding: 10px;
  background-color: #f4f4f4;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-links li a:hover {
  background-color: #e0e0e0;
}

