body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-weight: bold;
  font-size: clamp(21px, 3vw, 45px);
  margin-left: 10%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.profile-container:hover{
  background-color: lightgray;
  cursor: pointer;
}
.profile-picture {

}
.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.profile-name {
  font-size: clamp(10px, 1vw, 15px);
}
.home-container {
  display: flex;
  gap: 10%;
  align-items: center;
}
.left-container {
  margin-top: 10%;
  margin-left: 5%;
}
.home-title {
  font-weight: bold;
  font-size: clamp(20px, 5vw, 60px);
}
.home-slogan {
  font-weight: bold;
  font-size: clamp(17px, 1vw, 20px);
  line-height: 140%;
}
.right-container {
  margin-top: 10%;
}
.holding-phone-pic {
  height: 20vw;
}